[submodule "home/.local/share/nvim/site/pack/joshdick/opt/onedark.vim"]
	path = home/.local/share/nvim/site/pack/joshdick/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "home/.local/share/nvim/site/pack/vim-airline/start/vim-airline"]
	path = home/.local/share/nvim/site/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "home/.local/share/nvim/site/pack/sheerun/start/vim-polyglot"]
	path = home/.local/share/nvim/site/pack/sheerun/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "home/.local/share/nvim/site/pack/ntpeters/start/vim-better-whitespace"]
	path = home/.local/share/nvim/site/pack/ntpeters/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "home/.local/share/nvim/site/pack/glacambre/start/firenvim"]
	path = home/.local/share/nvim/site/pack/glacambre/start/firenvim
	url = https://github.com/glacambre/firenvim.git
[submodule "home/.local/share/nvim/site/pack/chikamichi/start/mediawiki.vim"]
	path = home/.local/share/nvim/site/pack/chikamichi/start/mediawiki.vim
	url = https://github.com/chikamichi/mediawiki.vim.git
