"*":
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "exception-reporting"
    ]
    telemetryConsent: "no"
  editor:
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "go-plus":
    lint:
      args: [
        "--vendor"
        "--fast"
      ]
    test: {}
  "linter-shellcheck":
    enableNotice: true
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
".go.source":
  editor:
    tabType: "hard"
