"*":
  core:
    # Close corresponding editors when a file is deleted outside atom.
    closeDeletedFileTabs: true

    # List of names of installed packages which are not loaded at startup.
    disabledPackages: [
      "exception-reporting"
    ]

    # Do not send any telemetry data.
    telemetryConsent: "no"
  editor:
    # Show indentation indicators in the editor.
    showIndentGuide: true

    # Render placeholders for invisible characters, such as tabs, spaces and
    # newlines.
    showInvisibles: true

    # Wraps lines that exceed the width of the window.  When `Soft Wrap At
    # Preferred Line Length` is set, it will wrap to the number of characters
    # defined by the `Preferred Line Length` setting.
    softWrap: true
  "go-plus":
    lint:
      args: [
        "--vendor"
        "--fast"
      ]
    test: {}
  "linter-shellcheck":
    # Include lesser-importance ShellCheck messages
    enableNotice: true
  "linter-ui-default": {}
".go.source":
  editor:
    # Determine character inserted when Tab key is pressed.  Possible values:
    # "auto", "soft" and "hard".  When set to "soft" or "hard", soft tabs
    # (spaces) or hard tabs (tab characters) are used.  When set to "auto", the
    # editor auto-detects the tab type based on the contents of the buffer (it
    # uses the first leading whitespace on a non-comment line), or uses the
    # value of the Soft Tabs config setting if auto-detection fails.
    tabType: "hard"
